head {
    font-family : Helvetica;
    color: green
}

h1 {
    font-family : Arial, Helvetica, sans-serif;
    font-kerning: auto;
    background-position: top;
    color: #0D6B2B;
    width: 50%
    
}

section {
    font-family : Arial, Helvetica, sans-serif;
    padding: 1em;
    border-color: black;
    color: black;
    margin: auto;
}

body {
    font-family : Arial, Helvetica, sans-serif;
    background-color: #047B94;
    margin: auto;
    position: sticky
}

ul {
    list-style-type: circle;
    margin: auto;
}

p {
    color : black
} 
