head {
    font-family : Helvetica;
    color: green
}

h1 {
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 80px;
    text-align: left;
    background: #A83D24;
    color: #EFE8E3
    box-sizing: border-box;
    border: 10px;
    border-color: #477950;


    
}

section {
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1em;
    border-color: black;
    color: black;
    margin: auto;
}

body {
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #E9C501;
    position: sticky
}

ul {
    list-style-type: circle;
    margin: auto;
}

p {
    color : black
} 
