head {
    font-family : Helvetica;
    color: 00AD8E
}

h1 {
    font-family : Arial, Helvetica, sans-serif;
    font-kerning: auto;
    background-position: top;
    color: #2F4F4F;
    width: 50%
    
}

section {
    font-family : Arial, Helvetica, sans-serif;
    padding: 1em;
    border-color: #ADD8E6;
    color: #778899;
    margin: auto;
}

body {
    font-family : Arial, Helvetica, sans-serif;
    background-color: AD3609;
    margin: auto;
    position: sticky
}

ul {
    list-style-type: circle;
    margin: auto;
}

p {
    color : 8A3816
}